* {
  margin: 0;
  padding: 0;
  background-color: var(--Raisin-black);
}

button {
  border: none;
  color: var(--Anti-flash-white);
}

/* FILTER BAR */
.filter-bar {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-inline: 20px;
}

.filter-bar > div > button {
  font-size: 18px;
  color: var(--Anti-flash-white);
  margin-right: 30px;
}

.filter-bar > div > button > .categorie-selected {
  font-weight: bold;
  text-decoration: underline;
}

.filter-bar > div > button > img {
  height: 30px;
  width: 30px;
}
/* boutons pour choisir les filtres */
.arrow {
  height: 100px;
  width: 100px;
  background-color: var(--Anti-flash-white);
}

.filter-arrow {
  filter: invert(1);
}

/* FENETRE DE FILTRES */
.filters-window {
  flex-direction: row;
  margin-top: 30px;
  padding: 20px;
  border-top: 3px solid var(--Anti-flash-white);
  border-radius: 30px;
  transition: all ease 1s;
}

.filters-window > button > .close-btn {
  font-size: 1px;
  height: 5px;
  width: 100px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
}

.filters-window > .genres {
  margin-top: 40px;
}

.filters-window > .genres,
.year {
  margin-bottom: 30px;
  background-color: var(--Raisin-black);
  border-radius: 10px;
  border: 1px solid var(--Anti-flash-white);
  transition: all ease 1s;
}
/*--------------YEAR SLIDER----------------*/
.horizontal-slider {
  height: 20px;
  margin-top: 20px;
  border: 1px black solid;
}

.example-track-0,
.example-track-2 {
  justify-content: center;
  background-color: white;
  height: 8px;
  border-radius: 4px;
}
.example-track-1 {
  justify-content: center;
  background-color: var(--Dodger-blue);
  height: 8px;
  border-radius: 4px;
}
.example-thumb {
  top: -4px;
  width: 1rem;
  height: 1rem;
  line-height: 2.9rem;
  font-size: 0.8rem;
  cursor: pointer;
  color: var(--Anti-flash-white);
  background-color: white;
  border-radius: 50%;
}

.bloc-filter > button > img {
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.bloc-filter {
  font-size: 18px;
  font-weight: bold;
  color: var(--Anti-flash-white);
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  margin-inline: 20px;
  transition: all ease 1s;
}

/* Bouttons */
.filters-window > .genres > .boutons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  margin: 10px;
  margin-bottom: 30px;
  justify-content: space-around;
}

.filters-window > .genres > .boutons > p {
  color: var(--Anti-flash-white);
  width: 70%;
  margin: auto;
  padding: 5px;
  padding-inline: 20px;
  background-color: var(--Raisin-black);
  border: 1px solid var(--Anti-flash-white);
  border-radius: 5px;
  cursor: pointer;
}

.filters-window > .genres > .boutons > .selected {
  border: 1px solid var(--Dodger-blue);
}

/* Years */
.filters-window > .year > .slider {
  display: flex;
  margin-bottom: 30px;
  padding-inline: 30px;
  flex-direction: column-reverse;
  transition: all ease 1s;
}

.filters-window > .year > .slider > label {
  color: var(--Anti-flash-white);
  margin-bottom: 10px;
}
