// Page Media Details

.backdrop {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

iframe {
  aspect-ratio: 16/9;
}

// Affichage des informations du film/série

.tagline {
  color: $blue-color;
  font-style: italic;
}

.certificate {
  display: inline-block;
  font-style: normal;
  background-color: white;
  color: $black-color;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: right;
  font-size: 15px;
  font-weight: 700;
  padding-right: 2px;

  position: relative;

  &:before {
    content: "";
    display: block;
    width: 6px;
    height: 4px;
    background-color: $black-color;

    position: absolute;
    left: -1px;
    top: calc(50% - 2px);
  }
}

.media-infos {
  .note {
    display: block;
    background-color: $blue-color;
    border-radius: 50%;
    width: 54px;
    height: 54px;
    line-height: 54px;

    position: absolute;
    top: -25px;
    right: 0;

    font-size: 16px;
    text-align: center;
    font-style: normal;
    font-weight: bold;

    &:after {
      content: "  /10";
      font-size: 10px;
    }
  }

  p {
    line-height: 30px;

    b {
      color: $blue-color;
      margin: 0 10px;
    }
  }
}

.poster-container {
  display: none;
}

.platform-list {
  flex-wrap: wrap;
  gap: 10px;

  img {
    border-radius: 15px;
    max-width: 80px;
    min-width: 44px;
  }
}

// Slider (plateformes/VPN)

.slider-container {
  overflow: hidden;
  display: flex;
  width: 200vw;

  .slider-item {
    width: 50%;
    opacity: 0;
    transform: translateX(-100%);

    &:first-child {
      ul {
        padding-top: 10px;
      }
    }
    &:last-child {
      transform: translateX(100%);
    }
    &.active-slide {
      opacity: 1;

      &:first-child {
        transform: translateX(0);
      }
      &:last-child {
        transform: translateX(-100%);
      }
    }
  }
  .slider-item,
  .slider-item.active {
    transition: all 0.3s;
  }
}

// VPN lists

.vpn-list {
  display: flex;
  width: 100%;
  max-width: 350px;
  height: 60px;

  li {
    margin: 0 8px;
    font-size: 36px;
    line-height: 36px;
    position: relative;
    cursor: pointer;

    span {
      position: absolute;
      bottom: -5px;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      opacity: 0;
      text-wrap: nowrap;
    }
    &:hover span {
      opacity: 1;
      transition: all 0.3s;
    }
  }
}

// Popup
.popup-container {
  width: 100vw;
  height: 100vh;

  position: absolute;
  top: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  z-index: -10;

  .trailer-popup {
    width: 100%;
    max-width: 950px;
    position: relative;
  }

  &.active {
    opacity: 1;
    z-index: 10;
    transition: opacity 0.3s;
  }
}

// close button

.close-popup {
  display: block;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  font-size: 0;
  cursor: pointer;
  position: absolute;
  top: -30px;
  right: 12px;

  &:before,
  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-color: white;
    position: absolute;
  }
  &:before {
    transform: rotate(45deg);
    top: calc(50% - 2px);
  }
  &:after {
    transform: rotate(-45deg);
    top: calc(50% - 2px);
  }
  &:hover {
    &:before,
    &:after {
      background-color: $blue-color;
    }
  }
  &,
  &:after,
  &:before {
    transition: all 0.3s;
  }

  .filters-window & {
    top: 14px;
    right: 28px;
  }
}
