* {
  --main-black: #202124;
  --main-blue: #1a8dfd;
  --main-white: #e8eaed;
  --succes-msg: #355233;
  --succes-bckgrnd: #d4eed9;
  --error-msg: #3f1519;
  --error-bckgrnd: #f7d7da;
}

@media screen and (max-width: 767px) {
  /* WriteRating.jsx */
  .form-review {
    width: clamp(345px, 30px, 767px);
  }

  .form-review > .submit-btn {
    font-size: 14px;
  }

  /* Alerte Message */
  .succes-comment {
    top: 80px;
    right: 25px;
  }

  .error-comment {
    top: 80px;
    right: 50px;
  }

  /* DisplayRating.jsx */
  .write-review {
    margin: 20px 20px;
  }

  .write-review > h3 {
    font-size: 20px;
  }

  .write-review > .review-card {
    padding: 15px 55px 15px 15px;
  }

  .write-review > .review-card > .top > .user-name {
    font-size: 16px;
  }

  .write-review > .review-card > .date-post {
    top: 40px;
    left: 15px;
  }

  .write-review > .review-card > .comment {
    font-size: 14px;
    margin-top: 5px;
  }
}

.comments-container {
  max-height: 600px;
  overflow-y: auto;
  margin-bottom: 50px;
}

/* WriteRating.jsx */

.write-review {
  .note {
    top: -15px;
    right: -15px;
  }
}

.form-review * {
  display: block;
}

.form-review > .top {
  display: flex;
  justify-content: space-between;
}

.form-review > .top > .user-name {
  width: 70%;
  border-radius: 5px;
  padding-left: 10px;
  background-color: var(--main-white);
  border: none;
}

.form-review > .top > .star {
  width: 75px;
  color: var(--main-black);
  text-align: center;
  background-color: var(--main-white);
  border: none;
  border-radius: 5px;
}

.form-review > .top > .star > option {
  background-color: var(--main-white);
}

.form-review > .comment {
  height: 100px;
  width: 100%;
  margin: 10px 0px 10px 0;
  padding: 7px;
  resize: none;
  background-color: var(--main-white);
  border: none;
  border-radius: 5px;
}

.form-review > .submit-btn {
  width: 70%;
  color: var(--main-white);
  margin: auto;
  text-align: center;
  background-color: var(--main-blue);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Alert Messages */
.succes-comment {
  display: flex;
  position: fixed;
  color: var(--succes-msg);
  padding: 5px 20px;
  background-color: var(--succes-bckgrnd);
  border-radius: 10px;
  z-index: 1;
}

.succes-comment > b {
  margin-left: 4px;
}

.error-comment {
  display: flex;
  position: fixed;
  color: var(--error-msg);
  padding: 5px 20px;
  background-color: var(--error-bckgrnd);
  border-radius: 10px;
  z-index: 1;
}

.error-comment > b {
  margin-right: 4px;
}
/* WriteRating.jsx */

/* DisplayRating.jsx */
.write-review > h3 {
  color: var(--main-white);
  text-align: center;
  text-decoration: underline;
}

.write-review > .review-card {
  position: relative;
  color: var(--main-black);
  background-color: var(--main-white);
  border-radius: 10px;
}

.write-review > .review-card > .top {
  display: flex;
  justify-content: space-between;
}

.write-review > .review-card > .top > .user-name {
  text-decoration: underline;
}

.write-review > .review-card > .top > .star {
  float: right;
  color: var(--main-white);
  font-weight: bold;
  background-color: var(--main-blue);
  border-radius: 50%;
}

.write-review > .review-card > .top > .star::after {
  content: " /10";
}

.write-review > .review-card > .date-post {
  font-size: 12px;
  opacity: 0.5;
}

.write-review > .review-card > .bin {
  position: absolute;
  bottom: 20px;
  right: 35px;
  cursor: pointer;
}

.write-review > .review-card > .bin > img {
  height: 20px;
  width: 20px;
}
/* DisplayRating.jsx */

/* Responsive TABLETTE */
@media screen and (min-width: 768px) and (max-width: 1200px) {
  /* WriteRating.jsx */
  .form-review {
    width: clamp(468px, 100px, 768px);
  }

  .form-review > .submit-btn {
    font-size: 14px;
  }

  /* Alerte Message */
  .succes-comment {
    top: 80px;
    right: 25px;
  }

  .error-comment {
    top: 80px;
    right: 50px;
  }

  /* DisplayRating.jsx */
  .write-review {
    margin: 20px 60px;
  }

  .write-review > h3 {
    font-size: 20px;
  }

  .write-review > .review-card {
    padding: 15px;
  }

  .write-review > .review-card > .top > .star {
    height: 40px;
    width: 40px;
    font-size: 16px;
    padding: 6px 0px 0px 8px;
  }

  .write-review > .review-card > .top > .user-name {
    font-size: 16px;
  }

  .write-review > .review-card > .top > .star::after {
    font-size: 8px;
  }

  .write-review > .review-card > .date-post {
    top: 40px;
    left: 15px;
  }

  .write-review > .review-card > .comment {
    font-size: 14px;
    margin-top: 5px;
  }
}

/* Responsive DESTKOP */
@media screen and (min-width: 1201px) {
  /* WriteRating.jsx */
  .form-review {
    width: clamp(450px, 20px, 650px);
  }

  .form-review > .submit-btn {
    font-size: 16px;
  }

  /* Alert Messages */
  .succes-comment {
    bottom: 60px;
    right: 20px;
  }

  .succes-comment > b {
    margin: 2px 0px 0px 4px;
  }

  .error-comment {
    bottom: 60px;
    right: 20px;
  }

  .error-comment > b {
    margin-right: 4px;
  }
  /* WriteRating.jsx */

  /* DisplayRating.jsx */
  .write-review {
    width: clamp(767px, 80px, 1201px);
  }

  .write-review > h3 {
    font-size: 22px;
  }

  .write-review > .review-card {
    padding: 20px;
  }

  .write-review > .review-card > .top > .user-name {
    font-size: 20px;
  }

  .write-review > .review-card > .top > .star {
    height: 50px;
    width: 50px;
    font-size: 20px;
    padding: 8px 0px 0px 8px;
    border-radius: 50%;
  }

  .write-review > .review-card > .top > .star::after {
    content: " /10";
    font-size: 12px;
  }

  .write-review > .review-card > .date-post {
    top: 45px;
    left: 20px;
  }

  .write-review > .review-card > .comment {
    font-size: 18px;
    margin-top: 10px;
  }
}
/* DisplayRating.jsx */

.feedback-btn {
  padding-right: 3px;
  margin-right: -4px;
}
.rating-btn {
  padding-left: 3px;
  margin-left: -3px;
}
