/* GENERAL */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  font-family: "Twemoji Country Flags", "Poppins", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  color: white;
}

html {
  overflow-x: hidden;
}

.no-scroll {
  overflow: hidden !important;
}

body {
  background-color: #202124;
  color: white;
  overflow-x: hidden;
  min-width: 380px;
}

.blue-title {
  position: relative;
  padding-bottom: 8px;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
}
.blue-title:after {
  content: "";
  display: block;
  width: 75%;
  border-bottom: 5px solid #1a8dfd;
  position: absolute;
  bottom: 0;
  left: 0;
}

.container-max,
.container {
  margin: 0 auto;
  width: 100%;
}

.container-max {
  max-width: 2500px;
}

.container {
  max-width: 1280px;
  padding: 0 12px;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

a {
  color: inherit;
}
a:hover {
  color: #1a8dfd;
}
a,
a:hover {
  transition: 0.3s;
}

.dflex {
  display: flex;
}

.dflex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.t-center {
  text-align: center;
}

.t-nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 16px;
}

.t-underline {
  text-decoration: underline;
}

.pos-r {
  position: relative;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-60 {
  margin-bottom: 60px;
}

header {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 2px solid white;
  background-color: #202124;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header-logo {
  width: 130px;
}

.search-area {
  display: flex;
  position: relative;
}
.search-area input {
  transition: all 0.2s ease-in-out;
  height: 35px;
  border-radius: 35px;
  border-color: transparent;
  font-size: 14px;
}
.search-area button {
  position: absolute;
  right: 10px;
  top: calc(50% - 10px);
  width: -moz-fit-content;
  width: fit-content;
  font-size: 0px;
}
.search-area button:after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../assets/icon-loupe.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 0.3s;
}
.search-area:hover button:after,
.search-area.active button:after {
  background-image: url("../assets/icon-loupe-blue.svg");
  transition: all 0.3s;
}

.headroom-wrapper {
  height: auto !important;
}

/* FILTERS */
.filter-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  padding: 0 20px;
}

.filter-bar .filter-button {
  padding: 15px;
  border: 2px solid #1a8dfd;
  border-radius: 50%;
}
.filter-bar .filter-button:hover {
  cursor: pointer;
  background-color: #1a8dfd;
}
.filter-bar .filter-button,
.filter-bar .filter-button:hover {
  transition: all 0.3s;
}
.filter-bar .filter-button img {
  height: auto;
  width: 30px;
  vertical-align: middle;
}

.filter-bar > div > button > .categorie-selected {
  font-weight: bold;
  text-decoration: underline;
}

.arrow {
  height: 100px;
  width: 100px;
}

.filter-arrow {
  filter: invert(1);
}

.filters-window {
  padding: 12px;
  border: 1px solid #e8eaed;
  border-radius: 10px;
  transition: all ease 1s;
  position: absolute;
  width: 100%;
  min-height: calc(100vh - 120px);
  background-color: #202124;
  top: 0;
  left: 0;
  z-index: 1;
  transform: translateY(100vh);
  opacity: 0;
}
.filters-window.active {
  opacity: 1;
  transform: translateY(0);
}
.filters-window,
.filters-window.active {
  transition: all 0.3s ease-in-out;
}

.filters-window > button > .close-btn {
  font-size: 1px;
  height: 5px;
  width: 100px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
}

.filters-window > .genres {
  margin-top: 40px;
}

.filters-window > .genres,
.year {
  margin-bottom: 30px;
  background-color: #202124;
  border-radius: 10px;
  border: 1px solid #e8eaed;
  transition: all ease 1s;
}

.horizontal-slider {
  height: 20px;
  margin-top: 20px;
  border: 1px black solid;
}

.example-track-0,
.example-track-2 {
  justify-content: center;
  background-color: white;
  height: 8px;
  border-radius: 4px;
}

.example-track-1 {
  justify-content: center;
  background-color: #1a8dfd;
  height: 8px;
  border-radius: 4px;
}

.example-thumb {
  top: -4px;
  width: 1rem;
  height: 1rem;
  line-height: 2.9rem;
  font-size: 0.8rem;
  cursor: pointer;
  color: #e8eaed;
  background-color: white;
  border-radius: 50%;
}

.bloc-filter > button > img {
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.bloc-filter {
  font-size: 18px;
  font-weight: bold;
  color: #e8eaed;
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  margin-inline: 20px;
  transition: all ease 1s;
}

.filters-window > .genres > .boutons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  margin: 10px;
  margin-bottom: 30px;
  justify-content: space-around;
}

.filters-window > .genres > .boutons > p {
  color: #e8eaed;
  width: 70%;
  margin: auto;
  padding: 5px;
  padding-inline: 20px;
  background-color: #202124;
  border: 1px solid #e8eaed;
  border-radius: 5px;
  cursor: pointer;
}

.filters-window > .genres > .boutons > .selected {
  border: 1px solid #1a8dfd;
}

.filters-window > .year > .slider {
  display: flex;
  margin-bottom: 30px;
  padding-inline: 30px;
  flex-direction: column-reverse;
  transition: all ease 1s;
}

.filters-window > .year > .slider > label {
  color: #e8eaed;
  margin-bottom: 10px;
}

/* MediaPage */
.backdrop {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

iframe {
  aspect-ratio: 16/9;
}

.tagline {
  color: #1a8dfd;
  font-style: italic;
}

.certificate {
  display: inline-block;
  font-style: normal;
  background-color: white;
  color: #202124;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: right;
  font-size: 15px;
  font-weight: 700;
  padding-right: 2px;
  position: relative;
}
.certificate:before {
  content: "";
  display: block;
  width: 6px;
  height: 4px;
  background-color: #202124;
  position: absolute;
  left: -1px;
  top: calc(50% - 2px);
}

.media-infos .note {
  display: block;
  background-color: #1a8dfd;
  border-radius: 50%;
  width: 54px;
  height: 54px;
  line-height: 54px;
  position: absolute;
  top: -25px;
  right: 0;
  font-size: 16px;
  text-align: center;
  font-style: normal;
  font-weight: bold;
}
.media-infos .note:after {
  content: "  /10";
  font-size: 10px;
}
.media-infos p {
  line-height: 30px;
}
.media-infos p b {
  color: #1a8dfd;
  margin: 0 10px;
}

.poster-container {
  display: none;
}

.platform-list {
  flex-wrap: wrap;
  gap: 10px;
}
.platform-list img {
  border-radius: 15px;
  max-width: 80px;
  min-width: 44px;
}

.horizontal-list {
  width: 100%;
  overflow-x: auto;
  gap: 10px;
  display: flex;
}
.horizontal-list img {
  width: 150px;
  border-radius: 8px;
}
.horizontal-list.slider-200 {
  gap: 25px;
}
.horizontal-list.slider-200 img {
  width: 200px;
  height: 300px;
  -o-object-fit: cover;
  object-fit: cover;
}
.horizontal-list li:hover a img {
  transform: scale(1.03);
}
.horizontal-list li img,
.horizontal-list li img:hover {
  transition: all 0.3s ease-in-out;
}

.horizontal-list::-webkit-scrollbar,
.custom-scrollbar-container::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.horizontal-list.tiny-scrollbar::-webkit-scrollbar,
.custom-scrollbar-container.tiny-scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
.horizontal-list::-webkit-scrollbar-thumb,
.custom-scrollbar-container::-webkit-scrollbar-thumb {
  background-color: rgba(32, 33, 36, 0.4980392157);
  border-radius: 6px;
}
.horizontal-list::-webkit-scrollbar-track,
.custom-scrollbar-container::-webkit-scrollbar-track {
  background-color: #e8eaed;
  border-radius: 6px;
}
.horizontal-list > li,
.custom-scrollbar-container > li {
  display: inline-block;
}

.switch-button {
  margin-bottom: 25px;
}
.switch-button button {
  border: 3px solid #1a8dfd;
  background-color: transparent;
  width: 65px;
  padding: 3px 0;
  color: white;
  text-align: center;
  font-size: 13px;
}
.switch-button button:first-child {
  border-right: 0;
  border-radius: 20px 0 0 20px;
}
.switch-button button:last-child {
  border-left: 0;
  border-radius: 0 20px 20px 0;
  margin-left: -1px;
}
.switch-button button.active {
  background-color: #1a8dfd;
}
.switch-button button,
.switch-button button.active {
  transition: all 0.3s;
}
.switch-button.big-switch-button {
  margin-bottom: 0;
}
.switch-button.big-switch-button button {
  width: 80px;
  font-size: 1rem;
}

.blue-button {
  background-color: transparent;
  color: white;
  cursor: pointer;
  border: 3px solid #1a8dfd;
  border-radius: 20px;
  padding: 7px 14px;
  font-weight: bold;
  font-size: 14px;
}
.blue-button.icon-play:before {
  content: "";
  display: inline-block;
  background: url("../assets/circle-play-regular.svg");
  width: 16px;
  height: 16px;
  margin-right: 7px;
  margin-top: -3px;
  vertical-align: middle;
}
.blue-button:hover {
  background-color: #1a8dfd;
}
.blue-button:hover,
.blue-button {
  transition: all 0.3s;
}
.blue-button span {
  display: block;
}

.slider-container {
  overflow: hidden;
  display: flex;
  width: 200vw;
}
.slider-container .slider-item {
  width: 50%;
  opacity: 0;
  transform: translateX(-100%);
}
.slider-container .slider-item:first-child ul {
  padding-top: 10px;
}
.slider-container .slider-item:last-child {
  transform: translateX(100%);
}
.slider-container .slider-item.active-slide {
  opacity: 1;
}
.slider-container .slider-item.active-slide:first-child {
  transform: translateX(0);
}
.slider-container .slider-item.active-slide:last-child {
  transform: translateX(-100%);
}
.slider-container .slider-item,
.slider-container .slider-item.active {
  transition: all 0.3s;
}

.vpn-list {
  display: flex;
  width: 100%;
  max-width: 350px;
  height: 60px;
}
.vpn-list li {
  margin: 0 8px;
  font-size: 36px;
  line-height: 36px;
  position: relative;
  cursor: pointer;
}
.vpn-list li span {
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  opacity: 0;
  text-wrap: nowrap;
}
.vpn-list li:hover span {
  opacity: 1;
  transition: all 0.3s;
}

.popup-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  z-index: -10;
}
.popup-container .trailer-popup {
  width: 100%;
  max-width: 950px;
  position: relative;
}
.popup-container.active {
  opacity: 1;
  z-index: 10;
  transition: opacity 0.3s;
}

.close-popup {
  display: block;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  font-size: 0;
  cursor: pointer;
  position: absolute;
  top: -30px;
  right: 12px;
}
.close-popup:before,
.close-popup:after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: white;
  position: absolute;
}
.close-popup:before {
  transform: rotate(45deg);
  top: calc(50% - 2px);
}
.close-popup:after {
  transform: rotate(-45deg);
  top: calc(50% - 2px);
}
.close-popup:hover:before,
.close-popup:hover:after {
  background-color: #1a8dfd;
}
.close-popup,
.close-popup:after,
.close-popup:before {
  transition: all 0.3s;
}
.filters-window .close-popup {
  top: 6px;
  right: 12px;
}

@media screen and (max-width: 767px) {
  .mb-d-block {
    display: block;
  }
  .mb-d-flex {
    display: flex;
  }
  .mb-d-none {
    display: none;
  }
  .mb-t-center {
    text-align: center;
  }
  .backdrop {
    width: 100%;
    aspect-ratio: 16/9;
    max-height: 50vh;
  }
  .media-infos {
    position: relative;
    background-color: #202124;
    border-radius: 15px;
    margin-top: -60px;
    padding: 40px 12px 16px;
    box-shadow: 0px 0px 50px -13px #000000;
  }
}
@media screen and (min-width: 767px) {
  .mb-d-block,
  .mb-d-flex {
    display: none;
  }
  .mb-d-none {
    display: block;
  }
  .td-d-flex {
    display: flex;
  }
  .td-t-center {
    text-align: center;
  }
  .media-infos h1,
  .media-infos p:first-of-type {
    padding-right: 70px;
  }
  .media-infos .note {
    top: 30px;
    right: 12px;
  }
  .media-infos-container {
    display: flex;
    padding: 30px 12px;
    margin-bottom: 50px;
    position: relative;
  }
  .media-infos-container .poster-container {
    display: block;
    width: 300px;
    height: 450px;
    flex: none;
  }
  .media-infos-container .poster-container img {
    height: 100%;
    width: 100%;
  }
  .media-infos-container .media-infos {
    text-align: left;
    padding-left: 50px;
    width: -moz-fit-content;
    width: fit-content;
  }
  .backdrop {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    opacity: 0.3;
    height: 100%;
    width: 100%;
  }
  .backdrop:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .media-platforms {
    justify-content: space-around;
  }
  .media-platforms > div {
    width: 33.3333%;
    padding: 0 15px;
    border-right: 2px solid white;
  }
  .media-platforms > div:last-child {
    border: none;
  }
  .media-platforms > div li:nth-child(5) {
    display: none;
  }
  .media-platforms .vpn-list {
    justify-content: flex-start;
    float: left;
  }
}
@media screen and (min-width: 1024px) {
  .tc-d-flex {
    display: flex;
  }
  .media-platforms > div {
    padding: 0 15px;
  }
  .media-platforms > div li:last-child {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  h1 {
    font-size: 2rem;
  }
  p {
    font-size: 18px;
  }
  .note {
    transform: scale(1.3);
  }
} /*# sourceMappingURL=App.css.map */
