/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap");

// rooting

* {
  font-family: "Twemoji Country Flags", "Poppins", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
button {
  border: none;
  background-color: transparent;
  color: white;
}

html {
  overflow-x: hidden;
}
.no-scroll {
  overflow: hidden !important;
}

// variables
$black-color: #202124;
$blue-color: #1a8dfd;
$white-color: #e8eaed;

//general/fonts/spacing
body {
  background-color: $black-color;
  color: white;
  overflow-x: hidden;
  min-width: 380px;
}

.blue-title {
  position: relative;
  padding-bottom: 8px;
  display: block;
  width: fit-content;

  &:after {
    content: "";
    display: block;
    width: 75%;
    border-bottom: 5px solid $blue-color;

    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.container-max,
.container {
  margin: 0 auto;
  width: 100%;
}
.container-max {
  max-width: 2500px;
}
.container {
  max-width: 1280px;
  padding: 0 12px;
}
h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.25rem;
}
a {
  color: inherit;

  &:hover {
    color: $blue-color;
  }
  &,
  &:hover {
    transition: 0.3s;
  }
}

// aligns & placements

.dflex {
  display: flex;
}
.dflex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.t-center {
  text-align: center;
}
.t-nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 16px;
}
.t-underline {
  text-decoration: underline;
}
.pos-r {
  position: relative;
}

// margins

.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-50 {
  margin-bottom: 50px;
}
.mb-60 {
  margin-bottom: 60px;
}

///// Header / Footer /////

header {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 2px solid white;
  background-color: $black-color;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header-logo {
    width: 130px;
  }
}

.search-area {
  display: flex;
  position: relative;

  input {
    transition: all 0.2s ease-in-out;
    height: 35px;
    border-radius: 35px;
    border-color: transparent;
    font-size: 14px;
  }
  button {
    position: absolute;
    right: 10px;
    top: calc(50% - 10px);
    width: fit-content;
    font-size: 0px;

    &:after {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      background-image: (url("../assets/icon-loupe.svg"));
      background-size: 20px;
      background-repeat: no-repeat;
      background-position: center center;
      transition: all 0.3s;
    }
  }
  &:hover,
  &.active {
    button:after {
      background-image: (url("../assets/icon-loupe-blue.svg"));
      transition: all 0.3s;
    }
  }
}

.headroom-wrapper {
  height: auto !important;
}

////////////////////// PAGES IMPORTS ///////////////////////////

/* FILTERS */
@import "_filters.scss";
/* MediaPage */
@import "_MediaPage.scss";
